.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 92px 24px;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.header__menu {
  display: flex;
  justify-self: start;
}

.header__link-list {
  display: flex;
  align-items: center;
  gap: 10px 33px;
  list-style: circle;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.header__link-list-item_no-bullit {
  list-style: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin-left: 36px;
  margin-right: 184px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  width: 240px;
}

.cover {
  position: relative;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  padding: 165px 50px 237px 50px;
  color: #fff;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  padding-top: 9px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  padding-top: 2px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: baseline;
  top: 657px;
  right: 50px;
  left: 76px;
  color: #fff;
}

.cover__description-text {
  text-transform: uppercase;
  justify-self: flex-end;
  font-size: 22px;
  word-spacing: 18.7px;
}

.bet-button {
  text-transform: uppercase;
  background-color: transparent;
  width: 256px;
  height: 51px;
  font-size: 22px;
  color: #fff;
  border: 1px solid #fff;
}

.lots {
  padding-top: 179px;
}

.lots__heading {
  padding-left: 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 27px 24px 30px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  list-style-type: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 563px;
  background-position: center;
  background-size: cover;
}

.card-link {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-underline-offset: auto;
}

.card__title {
  position: relative;
  margin: 51px 40px auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  margin: auto 40px 48px 40px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  padding-left: 64px;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  display: flex;
  margin: 181px 24px 0;
}

.about__logo {
  display: flex;
  flex-shrink: 0;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  margin: auto;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 72px;
  padding-top: 101px;
}

.about__title {
  margin-bottom: 74px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.18;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.005em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 178px 50px 88px;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu {
  display: flex;
  text-wrap: nowrap;
}

.footer__links-list {
  margin-left: 40px;
  line-height: 1.2;
  text-align: center;
  list-style-type: none;
}

.footer__menu-link__active {
  text-decoration: none;
}

.footer__link {
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}
